<div class="card">
    <div class="card-title text-center mt-4">
      <h3>Post List</h3>
    </div>
    <div class="card-body text-center">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Post Title"
          aria-label="Post Title"
          aria-describedby="basic-addon1"
          [(ngModel)]="post.title"
        />
      </div>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Post Content"
          aria-label="Post Content"
          aria-describedby="basic-addon1"
          [(ngModel)]="post.content"
        />
      </div>
  
      <button
        class="btn btn-primary"
        (click)="addPost()"
        [disabled]="this.post.title == null || this.post.content == null"
      >
        Add Post
      </button>
    </div>
  </div>
  
  <div class="card mt-5">
    <div class="card-title text-center mt-3">
      <h3>Posts from MongoDB</h3>
    </div>
  
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-secondary" (click)="fetchPosts()">
          Fetch Posts
        </button>
      </div>
    </div>
  
    <div class="card-body">
      <hr />
  
      <div class="row" *ngIf="this.posts.length == 0">
        <div class="col text-center">No Posts</div>
      </div>
  
      <div class="accordion" id="accordionExample" *ngFor="let post of posts">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#A' + post.id"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ post.title }}
            </button>
          </h2>
          <div
            id="{{ 'A' + post.id }}"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong> {{ post.content }} </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
