<div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.ctfassets.net/rwwws6sfcm1a/1VKEGSdw55ZIuuKEt38kwB/f0f1528a6d171153f44f8b6454ae0422/insomnia-p.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.ctfassets.net/rwwws6sfcm1a/cXrwtHvf5Svv5o2vaMqKd/20245de19f32b1800edfebbb7d545e2a/amgen-p.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://images.ctfassets.net/rwwws6sfcm1a/5LVgSl6ufT5SBKg3wVkU8Q/f83de5055cf314ad7a8e602d9ec6710f/angel-aspirations-p.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<!-- <div class="container-fluid">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/1VKEGSdw55ZIuuKEt38kwB/f0f1528a6d171153f44f8b6454ae0422/insomnia-p.png" class="d-block w-100" alt="Insomnia Marketing Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 1: Insomnia Marketing </h5>
                <p>Mobile Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/cXrwtHvf5Svv5o2vaMqKd/20245de19f32b1800edfebbb7d545e2a/amgen-p.png" class="d-block w-100" alt="Amgen Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 2: Amgen</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/5LVgSl6ufT5SBKg3wVkU8Q/f83de5055cf314ad7a8e602d9ec6710f/angel-aspirations-p.png" class="d-block w-100" alt="Angel Aspirations Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 3: Angel Aspirations</h5>
                <p>Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/3XjDy3bbMSc90uKR03LYK/0392ad53e13363fe994269b7fc1a44ca/chelafer-p.png" class="d-block w-100" alt="Chelafer Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 4: Chelafer</h5>
                <p>Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/5LVgSl6ufT5SBKg3wVkU8Q/f83de5055cf314ad7a8e602d9ec6710f/angel-aspirations-p.png" class="d-block w-100" alt="Angel Aspirations Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 5: Angel Aspirations</h5>
                <p>Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/2jGEUmGooV9S0ht0ZgeBKL/dd245aacf97c6bbae6b71d2388b9e67d/vitaforce-p.png" class="d-block w-100" alt="Vitaforce Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 7: Vitaforce</h5>
                <p>Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/3QHRCKrng8QmUAiRAymxN8/9061586cf6af0c5f295840d05a68d9ea/meq-p.png" class="d-block w-100" alt="MeQ Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 7: MeQ</h5>
                <p>Web</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.ctfassets.net/rwwws6sfcm1a/5LVgSl6ufT5SBKg3wVkU8Q/f83de5055cf314ad7a8e602d9ec6710f/angel-aspirations-p.png" class="d-block w-100" alt="Angel Aspirations Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>Project 8: Angel Aspirations</h5>
                <p>Mobile</p>
            </div>
            <div class="carousel-item">
                <img src="https://images.ctfassets.net/rwwws6sfcm1a/1ZUCKlCiDrPQTB6LqQDEm8/fe9dd0bb8123f92a08304d14b6566ab2/myknowledge-p.png" class="d-block w-100" alt="MyKnowledge Logo">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Project 9: MyKnowledge</h5>
                    <p>Mobile</p>
                </div>
            </div>
        </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
-->